body {
    padding: 25px 0px 0px 0px;
    z-index: 0;
}

.title {
    font-size: 275%;
}

.card {
    margin-top: 10px;
    /* padding: 20px 0px 0px 20px; */
}

.card-title {
    font-size: 180%;
    margin: 10px 10px 10px 0px;
}

.card-header {
    font-size: 210%;
}

.card-block {
    margin: 5px 20px 20px 20px;
}

.form-check-label {
    margin-left: 10px;
}

.page-button {
    display: inline-block;
    width: 95%;
    margin-top: 20px;
}

.form-check-input {
    margin-left: -17px;
}

.col-form-label {
    margin-left: 17px;
}
